{% extends "recipe.html" %}

{% block recipe_title %}
<h1></h1>
{% endblock %}

{% block recipe_description %}
<h2>Description</h2>
<p>The sweetness from the raisins and brown sugar, the hint of cinnamon, and the texture of the oats makes this a great cookie recipe.</p>
<p>I've read a lot of recipes for oatmeal raisin cookies and I think the description of "soft and chewy" is perfect for these cookies.</p>
<p>This recipe makes about 3 dozen cookies.</p>
{% endblock %}

{% block recipe_image %}
<img src="{{ url_for('static', filename='img/oatmeal_raisin_cookies.jpg') }}" alt="Oatmeal Raisin Cookies" />
{% endblock %}

{% block recipe_tips %}
<h2>Tips</h2>
<p>Don't over-mix the batter once the flour has been incorporated, as this can make the dough tough. </p>
<p>An ice cream scoop is good for getting out even-sized balls of dough onto the cookie sheet. </p>
<p>If the butter isn't at room temperature, put the butter in the microwave for about 35 seconds to warm it up.</p>
{% endblock %}

{% block recipe_ingredients %}
<h2>List of Ingredients</h2>
<ul>
<li>1 Cup of Dairy-Free Butter softened to room temperature (recommendation: <a href="https://www.earthbalancenatural.com/spreads/soy-free-buttery-spread">Earth Balance - Soy Free Butter Spread</a></li>
<li>3/4 Cup of Brown Sugar (Light)</li>
<li>1/2 Cup of Granulated Sugar</li>
<li>2 Eggs</li>
<li>1 Teaspoon of Vanilla Extract</li>
<li>1.5 Cups of All-Purpose Flour</li>
<li>1 Teaspoon of Baking Soda</li>
<li>1 Teaspoon of Cinnamon</li>
<li>1/2 Teaspoon of Salt</li>
<li>3 Cups of Rolled Oats</li>
<li>1.5 Cups of Raisins</li>
</ul>
{% endblock %}

{% block recipe_steps %}
<h2>Recipe Steps</h2>
<ol>
<li>Preheat oven to 350°F.</li>
<li>In a stand mixer with the paddle attachment, cream the dairy-free butter and both sugars for 3 minutes on medium speed.</li>
<li>Add eggs and vanilla; mix for 1 additional minute.</li>
<li>Combine flour, baking soda, cinnamon, and salt in a medium-bowl; add this dry mixture and mix until combined with the wet ingredients.</li>
<li>Add oats and raisins; mix until combined.</li>
<li>Drop rounds of dough using tablespoons onto an un-greased cookie sheet.</li>
<li>Bake cookies for 11-12 minutes or until light golden brown on the bottom.</li>
</ol>
{% endblock %}
